/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/360/avanza
/public/360/jazz
/public/360/pajero
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
